<div class="container" style="padding: 10px;">


    <div class="row" style="padding: 20px;">

        <div class="col">
            <a href="/detail" data-bs-toggle="modal" data-bs-target="#content1_modal">
                <div class="polaroid-1">
                    <img class="polaroid_pic"
                        src="https://media.architecturaldigest.com/photos/5da74823d599ec0008227ea8/16:9/w_2560%2Cc_limit/GettyImages-946087016.jpg"
                        alt="">
                </div>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="content1_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" style="top: -21%; left: 30.5%; position: fixed;">
                    <div class="modal-content" style="width: 1200px; margin-left:-200px; padding-top: 30px;">
                        <div class="polaroid_cover">
                            <div class="polaroid_img"></div>
                            <div class="polaroid_info">
                                <div class="polaroid_info_header card-header">
                                    <div class="author_pic"></div>
                                    <div class="author_id"><a href="" class="author_link">한예슬</a></div>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#actionForPolaroid"><i
                                            class="material-icons"
                                            style="margin-top: 12px; color:black;">more_horiz</i></a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="actionForPolaroid" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item"><a href=""
                                                            class="actionForPolaroid-btn report-btn">Report</a></li>
                                                    <li class="list-group-item"><a href=""
                                                            class="actionForPolaroid-btn unfollow-btn">Unfollow</a></li>
                                                    <li class="list-group-item"><a href=""
                                                            class="actionForPolaroid-btn">Go to post</a></li>
                                                    <li class="list-group-item"><a href=""
                                                            class="actionForPolaroid-btn">Share to...</a></li>
                                                    <li class="list-group-item"><a href=""
                                                            class="actionForPolaroid-btn">Copy Link</a></li>
                                                    <li class="list-group-item"><a href=""
                                                            class="actionForPolaroid-btn">Embed</a></li>
                                                    <li class="list-group-item"><a href="" class="actionForPolaroid-btn"
                                                            data-bs-dismiss="modal" aria-label="Close">Cancel</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="polaroid_info_body card-body" style="height: 200px;">


                                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
                                        perferendis, animi labore tempora
                                        quidem laborum neque explicabo ea recusandae consequatur.</span><br>

                                    <a href="" class="taglink">#난이뽀</a>
                                    <a href="" class="taglink">#바보</a>
                                    <a href="" class="taglink">#멍충이</a>
                                    <a href="" class="taglink">#해삼</a>
                                </div>


                                <div class="uploaded_date card-footer text-muted">
                                    2 days ago
                                </div>

                                <form action="" style="display: flex;">
                                    <input type="text" class="form-control"
                                        style="border: none; border-bottom: 1px solid black; border-radius: 0px;">
                                    <button class="reply-btn"
                                        style="border: none; background-color: white; color: blue;">Post</button>
                                </form>

                                <div class="reply-list" style="margin-top:3px; height: 300px; overflow-y: scroll;">

                                    <div class="reply_cover">
                                        <a href="" class="reply_id">seungchulha</a>
                                        <span class="reply_content">정말 아름다우시네요</span>
                                        <div class="reply_to">
                                            <div class="reply_date text-muted">80w</div>
                                            <div class="reply_like text-muted">1 like</div>
                                            <div class="reply_to_reply text-muted"><a href=""
                                                    class="reply_to_reply_btn">Reply</a></div>
                                        </div>
                                    </div>

                                    <div class="reply_cover">
                                        <a href="" class="reply_id">seungchulha</a>
                                        <span class="reply_content">정말 아름다우시네요</span>
                                        <div class="reply_to">
                                            <div class="reply_date text-muted">80w</div>
                                            <div class="reply_like text-muted">1 like</div>
                                            <div class="reply_to_reply text-muted"><a href=""
                                                    class="reply_to_reply_btn">Reply</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <a href="/detail" data-bs-toggle="modal" data-bs-target="#content2_modal">
                <div class="polaroid-2">
                    <img class="polaroid_pic"
                        src="https://pix10.agoda.net/hotelImages/75/-1/450838815fb602d9fe58bba500a04a84.jpg?s=1024x768"
                        alt="">
                </div>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="content2_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" style="top: -21%; left: 30.5%; position: fixed;">
                    <div class="modal-content" style="width: 1200px; margin-left:-200px; padding-top: 30px;">
                        <div class="polaroid_cover">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="0" class="active" aria-current="true"
                                        aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="3" aria-label="Slide 4"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="https://i2.wp.com/cired2020shanghai.org/wp-content/uploads/2019/09/shanghai_tower.jpg?fit=1021%2C531" class="polaroid_img" alt="..." style="width: 650px; height:650px;">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://cms.finnair.com/resource/blob/674722/26d19039cd2f8e32bc5f605240398408/shanghai-main-data.jpg" class="polaroid_img" alt="..." style="width: 650px; height:650px;">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjldunPLeei3arrOjzChjld-iMA-5wyQNp4w&usqp=CAU" class="polaroid_img" alt="..." style="width: 650px; height:650px;">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://img.static-af.com/images/meta/IDname/CITY-SHA-1?aspect_ratio=2:1&max_width=1920" class="polaroid_img" alt="..." style="width: 650px; height:650px;">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <div class="polaroid_info">
                                <div class="polaroid_info_header card-header">
                                    <div class="author_pic"></div>
                                    <div class="author_id"><a href="" class="author_link">한예슬</a></div>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#actionForPolaroid"><i
                                            class="material-icons"
                                            style="margin-top: 12px; color:black;">more_horiz</i></a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="actionForPolaroid" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item"><a href=""
                                                            class="actionForPolaroid-btn report-btn">Report</a></li>
                                                    <li class="list-group-item"><a href=""
                                                            class="actionForPolaroid-btn unfollow-btn">Unfollow</a></li>
                                                    <li class="list-group-item"><a href=""
                                                            class="actionForPolaroid-btn">Go to post</a></li>
                                                    <li class="list-group-item"><a href=""
                                                            class="actionForPolaroid-btn">Share to...</a></li>
                                                    <li class="list-group-item"><a href=""
                                                            class="actionForPolaroid-btn">Copy Link</a></li>
                                                    <li class="list-group-item"><a href=""
                                                            class="actionForPolaroid-btn">Embed</a></li>
                                                    <li class="list-group-item"><a href="" class="actionForPolaroid-btn"
                                                            data-bs-dismiss="modal" aria-label="Close">Cancel</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="polaroid_info_body card-body" style="height: 200px;">


                                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
                                        perferendis, animi labore tempora
                                        quidem laborum neque explicabo ea recusandae consequatur.</span><br>

                                    <a href="" class="taglink">#난이뽀</a>
                                    <a href="" class="taglink">#바보</a>
                                    <a href="" class="taglink">#멍충이</a>
                                    <a href="" class="taglink">#해삼</a>
                                </div>


                                <div class="uploaded_date card-footer text-muted">
                                    2 days ago
                                </div>

                                <form action="" style="display: flex;">
                                    <input type="text" class="form-control"
                                        style="border: none; border-bottom: 1px solid black; border-radius: 0px;">
                                    <button class="reply-btn"
                                        style="border: none; background-color: white; color: blue;">Post</button>
                                </form>

                                <div class="reply-list" style="margin-top:3px; height: 300px; overflow-y: scroll;">

                                    <div class="reply_cover">
                                        <a href="" class="reply_id">seungchulha</a>
                                        <span class="reply_content">정말 아름다우시네요</span>
                                        <div class="reply_to">
                                            <div class="reply_date text-muted">80w</div>
                                            <div class="reply_like text-muted">1 like</div>
                                            <div class="reply_to_reply text-muted"><a href=""
                                                    class="reply_to_reply_btn">Reply</a></div>
                                        </div>
                                    </div>

                                    <div class="reply_cover">
                                        <a href="" class="reply_id">seungchulha</a>
                                        <span class="reply_content">정말 아름다우시네요</span>
                                        <div class="reply_to">
                                            <div class="reply_date text-muted">80w</div>
                                            <div class="reply_like text-muted">1 like</div>
                                            <div class="reply_to_reply text-muted"><a href=""
                                                    class="reply_to_reply_btn">Reply</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="/detail">
                <div class="polaroid-3">
                    <img class="polaroid_pic"
                        src="https://www.smartertravel.com/wp-content/uploads/2017/08/grand-canyon-sunset-1200x627.jpg"
                        alt="">
                </div>
            </a>

            <a href="/detail">
                <div class="polaroid-4">
                    <img class="polaroid_pic"
                        src="https://media.architecturaldigest.com/photos/5da74823d599ec0008227ea8/16:9/w_2560%2Cc_limit/GettyImages-946087016.jpg"
                        alt="">
                </div>
            </a>
        </div>

        <div class="col">
            <div class="polaroid-4">
                <img class="polaroid_pic"
                    src="https://media.architecturaldigest.com/photos/5da74823d599ec0008227ea8/16:9/w_2560%2Cc_limit/GettyImages-946087016.jpg"
                    alt="">
            </div>
            <div class="polaroid-2">
                <img class="polaroid_pic"
                    src="https://pix10.agoda.net/hotelImages/75/-1/450838815fb602d9fe58bba500a04a84.jpg?s=1024x768"
                    alt="">
            </div>
            <div class="polaroid-1">
                <img class="polaroid_pic"
                    src="https://media.architecturaldigest.com/photos/5da74823d599ec0008227ea8/16:9/w_2560%2Cc_limit/GettyImages-946087016.jpg"
                    alt="">
            </div>

            <div class="polaroid-3">
                <img class="polaroid_pic"
                    src="https://www.smartertravel.com/wp-content/uploads/2017/08/grand-canyon-sunset-1200x627.jpg"
                    alt="">
            </div>
        </div>

        <div class="col">
            <div class="polaroid-3">
                <img class="polaroid_pic"
                    src="https://www.smartertravel.com/wp-content/uploads/2017/08/grand-canyon-sunset-1200x627.jpg"
                    alt="">
            </div>

            <div class="polaroid-4">
                <img class="polaroid_pic"
                    src="https://media.architecturaldigest.com/photos/5da74823d599ec0008227ea8/16:9/w_2560%2Cc_limit/GettyImages-946087016.jpg"
                    alt="">
            </div>

            <div class="polaroid-1">
                <img class="polaroid_pic"
                    src="https://media.architecturaldigest.com/photos/5da74823d599ec0008227ea8/16:9/w_2560%2Cc_limit/GettyImages-946087016.jpg"
                    alt="">
            </div>

            <div class="polaroid-2">
                <img class="polaroid_pic"
                    src="https://pix10.agoda.net/hotelImages/75/-1/450838815fb602d9fe58bba500a04a84.jpg?s=1024x768"
                    alt="">
            </div>
        </div>

        <div class="col">
            <div class="polaroid-2">
                <img class="polaroid_pic"
                    src="https://pix10.agoda.net/hotelImages/75/-1/450838815fb602d9fe58bba500a04a84.jpg?s=1024x768"
                    alt="">
            </div>
            <div class="polaroid-3">
                <img class="polaroid_pic"
                    src="https://www.smartertravel.com/wp-content/uploads/2017/08/grand-canyon-sunset-1200x627.jpg"
                    alt="">
            </div>
            <div class="polaroid-1">
                <img class="polaroid_pic"
                    src="https://media.architecturaldigest.com/photos/5da74823d599ec0008227ea8/16:9/w_2560%2Cc_limit/GettyImages-946087016.jpg"
                    alt="">
            </div>
            <div class="polaroid-4">
                <img class="polaroid_pic"
                    src="https://media.architecturaldigest.com/photos/5da74823d599ec0008227ea8/16:9/w_2560%2Cc_limit/GettyImages-946087016.jpg"
                    alt="">
            </div>
        </div>


    </div>




</div>